.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
}
.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: white;
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: white;

  //test  height: 80rem;

  flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2);
}
.description {
  font-size: 1.4rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: white;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  box-shadow: var(--shadow-light);
}
.user-reviews {
  flex: 1;
}

/////////////////////@at-root
/// REVIEWS
.review {
  background-color: white;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  &::before {
    content: "\201D";
    position: absolute;
    top: -2.75rem;
    z-index: 1;
    left: -1rem;
    font-size: 20rem;
    line-height: 1;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 2;
    position: relative;
  }

  &__user {
    display: flex;

    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }

  &__user-name {
    font-weight: 700;
  }
  &__user-box {
    margin-right: auto;
    margin-left: 1rem;
  }
  &__user-date {
  }
  &__rating {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--color-primary);
  }
}
